#minimal-bootstrap-carousel {
  margin-top: 0px;
  position: relative;
}

#minimal-bootstrap-carousel .carousel-caption {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  text-align: right;
  text-shadow: none;
}

#minimal-bootstrap-carousel .carousel-caption .container {
  display: table;
  width: 100%;
  height: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (max-width: 1199px) {
  #minimal-bootstrap-carousel .carousel-caption .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  #minimal-bootstrap-carousel .carousel-caption .container {
    max-width: 720px;
  }
}

#minimal-bootstrap-carousel .carousel-caption .container .box {
  display: table-cell;
  text-align: left;
}

#minimal-bootstrap-carousel .carousel-caption .container .box.valign-top {
  vertical-align: top;
}

#minimal-bootstrap-carousel .carousel-caption .container .box.valign-bottom {
  vertical-align: bottom;
}

#minimal-bootstrap-carousel .carousel-caption .container .box.valign-middle {
  vertical-align: middle;
}

#minimal-bootstrap-carousel .carousel-caption .container .box .content {
  display: block;
}

#minimal-bootstrap-carousel [class*="carousel-control"] {
  background: none;
  width: 50px;
  height: 50px;
  font-size: 36px;
  color: #fff;
  background-color: transparent;
  visibility: visible !important;
  opacity: 1;
  border: 1px solid #fff;
  transition: all 0.5s ease;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;

  @include respond(phone) {
    width: 40px;
    height: 40px;
    line-height: 30px;
  }
}

#minimal-bootstrap-carousel .carousel-control-prev {
  left: 0;
  font-size: 2.5rem;

  @include respond(phone) {
    font-size: 2.5rem;
    border: 1px solid transparent;
  }
}

#minimal-bootstrap-carousel .carousel-control-next {
  right: 0;
  font-size: 2.5rem;

  @include respond(phone) {
    font-size: 2.5rem;
    border: 1px solid transparent;
  }
}

#minimal-bootstrap-carousel [class*="carousel-control"]:hover {
  opacity: 1;
  background: $color-primary;
  border-color: $color-primary;

  @include respond(phone) {
    background: transparent;
    border-color: transparent;
  }
}

/* fixing slider height */
#minimal-bootstrap-carousel.slider-home-one .carousel-inner .carousel-item {
  min-height: 70vh;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #222;

  @include respond(phone) {
    min-height: 50vh;
  }
}

.slider-content-style .content {
  text-align: center;
  position: relative;
  z-index: 997;
}

.slider-content-style .content h3,
.slider-content-style .content h2,
.slider-content-style .content p {
  margin: 0;
}

.slider-content-style .content h3 {
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  text-transform: uppercase;

  @include respond(tab-port) {
    font-size: 30px;
  }
}

.slider-content-style .content p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  letter-spacing: 0.15em;
  margin-top: 20px;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  margin-bottom: 3.5rem;

  @include respond(tab-port) {
    font-size: 15px;
  }
}

.slider-content-style .content a.thm-btn {
  background-color: $color-primary;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  color: black;
  border-radius: 0;
  border: 0.2rem solid $color-primary;
  transition: all 0.4s;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1pt;
  text-decoration: none;

  @include respond(tab-port) {
    font-size: 15px;
  }
}

.slider-content-style .content a.thm-btn:hover {
  background-color: transparent;
  color: white;
  font-weight: 500;
}
