.nav-item {
  .nav-link {
    font-size: 2rem !important;
    color: $color-primary !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    letter-spacing: 1pt !important;
    font-family: "Poppins", sans-serif !important;
    font-size: 1.5rem !important;
    padding: 1rem 2rem !important;
  }

  .active {
    background-color: $color-primary !important;
    color: white !important;
    border-radius: 0.2rem !important;
  }
}

.tab-content {
  padding: 2.5rem 0;
  font-weight: 300 !important;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 300 !important;
  color: #999999 !important;
  line-height: 1.71429;
  letter-spacing: 1px;

  @include respond(tab-port) {
    font-size: 1.4rem;
  }
}
