.section-testimonial {
  padding: 10rem 0;
  background-color: $color-footer;

  @include respond(tab-port) {
    padding: 5rem 0;
  }

  .testimonial-img {
    border-radius: 50%;
    padding: 2rem 0;
  }

  p {
    padding: 0 20rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.7rem;

    @include respond(tab-port) {
      padding: 0 5rem;
      font-size: 1.5rem;
    }
  }

  h4 {
    margin-top: 5rem;
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
  }

  .list-group-item--testimonial {
    background-color: transparent;
    border: none;
  }
}
