.footer-top {
  background-color: #000;
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 5rem 0;
  }

  .list-group-contact {
    margin-top: 1rem !important;

    .list-group-item {
      border: none;
      background: transparent;
      padding-left: 0;
      font-family: "Poppins", sans-serif;
      font-weight: 500;

      @include respond(tab-port) {
        font-size: 1.3rem;
      }

      &:hover {
        color: #fff;
      }
    }
  }

  .list-inline-social {
    margin-top: 2rem;

    @include respond(tab-port) {
      margin-bottom: 4rem;
    }

    .list-inline-item {
      background: transparent;
      border: none;
      margin-right: 2rem;
      text-decoration: none;
      color: #fff !important;

      &:hover {
        color: #fff !important;
      }
    }
  }
}

.footer-bottom {
  background-color: #1f1f1f;
  padding: 1rem 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: #5a5a5a;

  @include respond(tab-port) {
    font-size: 1.1rem;
  }
}
