.section-contact {
  padding: 12rem 0;

  @include respond(tab-port) {
    padding: 5rem 0 2.5rem 0;
  }

  .contact-box {
    @include respond(tab-port) {
      margin-bottom: 5rem;
    }

    a {
      text-decoration: none;
    }
  }
}

.section-form {
  padding: 10rem 0;
  background-color: #fff !important;

  @include respond(tab-port) {
    padding: 5rem 0;
  }
}

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  background: transparent;
  border: 0.2rem solid rgba(0, 0, 0, 0.1) !important;
  height: 5rem !important;
  font-size: 1.7rem !important;
  font-weight: 300;
  border-radius: 0px !important;
  font-family: "Open Sans", sans-serif;
}
#message {
  height: 10rem !important;
}
.btn.btn-md {
  padding: 1rem 2.5rem !important;
}
.btn-primary {
  background: $color-primary !important;
  color: #fff !important;
  border: 0.2rem solid $color-primary !important;
  border-radius: 0px !important;
  font-size: 1.6rem !important;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;

  &:hover {
    border: 0.2rem solid $color-primary;
    background-color: #fff !important;
    color: $color-black !important;
  }
}
