.section-social {
  padding: 5rem 0 2.5rem 0;

  @include respond(tab-port) {
    padding: 2.5rem 0 0 0;
  }
}

.section-about {
  padding: 15rem 0;
  background-color: #fbfbfd;

  @include respond(tab-port) {
    padding: 2.5rem 0 0 0;

    .col-md {
      margin-bottom: 3rem;
    }
  }
}

.section-services {
  padding: 10rem 0;
  position: relative;

  @include respond(tab-port) {
    padding-bottom: 0;
  }

  .box-services {
    margin-bottom: 5rem;
  }
}

.section-title-top {
  height: 35rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/hero-1-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  @include respond(tab-port) {
    height: 20rem;
  }

  // @include respond(phone) {
  //   background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  //     url(../img/menu-title/section-title-top-mobile.jpg);
  // }

  .heading-box-about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.section-menu {
  padding-bottom: 5rem;
  overflow: hidden;

  @include respond(tab-port) {
    padding-bottom: 0;
  }

  .card-img-top {
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 0;

    @include respond(tab-port) {
      padding: 1rem;
      border-radius: 1rem !important;
    }

    &:hover {
      -webkit-filter: brightness(1.2);
      filter: brightness(1.2);
      transform: scale(1.05);
      z-index: 100;
    }
  }

  .card-title {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem !important;
    font-weight: 600;
  }
}

.section-title-bottom {
  height: 35rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/hero-13-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  @include respond(tab-port) {
    height: 20rem;
  }

  @include respond(phone) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(../img/menu-title/section-title-bottom-mobile.jpg);
  }

  .heading-box-about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.section-gallery {
  padding: 5rem 0 10rem 0;
  background-color: #fbfbfd;

  @include respond(tab-port) {
    padding: 0 0 5rem 0;
  }
}
