.section-trainer {
  padding: 10rem 0;

  @include respond(tab-port) {
    padding: 2.5rem 0;

    .col-md {
      margin-bottom: 3rem;
    }
  }
}

.heading-certification {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 2.5rem;
  color: $color-black;
}

.heading-trainer {
  margin-bottom: 5rem;
  font-family: Poppins, sans-serif;
  color: $color-primary;
  font-size: 3.2rem;
  font-weight: 700 !important;
  line-height: 1.2;
}
